# Elasticsearch & Kibana
# With new configuration, the same password is used for both elastic and kibana_system users
ELASTIC_PASSWORD=ChangeMe123!

# Encryption keys for Kibana
# These should be 32+ character strings. Can be generated with: openssl rand -hex 16
KIBANA_ENCRYPTION_KEY=encryptionkey12345678901234567890